.nav__mobile{
  display: none;
}
@media only screen and (max-width: 990px) {
  .container {
    width: 850px;
  }
}

@media only screen and (max-width: 880px) {
  .container {
    width: 600px;
  }
  .nav__mobile {
    display: inline;
    padding-left: 30px;
    text-transform: uppercase;
    height: 72px;
    background: url(../img/menu.svg) no-repeat 0 50%;
    line-height: 71px;
    background-size: 30%;
  }

  .nav__link_hide {
    display: none;
  }
  .header__nav {
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
  }
  .nav__link {
    margin: 0;
    width: 150px;
    height: 40px;
    line-height: 40px;
    background: #000000;
  }
  .nav__link-exit::after {
    background-image: none;
  }
  .contacts__text {
    width: 185px;
  }
  .footer__fix {
    padding-top: 0;
  }
}

@media only screen and (max-width: 656px) {
  .container {
    width: 400px;
  }
  .contacts {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  .contacts__text {
    width: 100%;
    text-align: center;
  }
  .info-container {
    flex-direction: column;
    text-align: center;
  }
  .info-container__img, 
  .info-container__form {
    margin: 0 auto;
  }
  .advantages {
    flex-direction: column;
  }
  .container__column {
    padding: 20px 0;
  }
  .header__logo {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 417px) {
  .container {
    width: 366px;
  }
}